.entry-title {
  line-height: 1.2;
  margin-bottom: 15px;
  br {
    @media #{$small-only} {
      display: inline-block;
    }
  }
}
.entry-content {
  &,p {
    font-size: rem-calc(18);
    color: $gray;
    line-height: 1.9;
    @media #{$small-only} {
      font-size: rem-calc(16);
    }
  }
}

#page {
  @include grid-row();
  padding-top: 3rem;
  padding-bottom: 3rem;

  .main-content {
    @include breakpoint(small) {
      @include grid-column(12);
    }

    @include breakpoint(medium) {
      @include grid-column(8);
    }
  }

}
