#single-post {
  @include grid-row();
  padding-top: 3rem;

  .main-content {
    @include breakpoint(small) {
      @include grid-column(12);
    }

    @include breakpoint(medium) {
      @include grid-column(8);
    }
  }

  time,.byline.author {
    color: $lgray3;
    a {
      color: $gray;
    }
  }
  textarea#comment {
    box-shadow: none;
  }
  #allowed_tags {
    display: none;
  }
}
