.sites-button {
  background: #FF6908;
  font-size: 1.25rem;
  font-weight: bold;
  box-shadow: 0 -2px 0 rgba(0,0,0,0.2) inset;
  border-radius: 3px;
  border: none;
}

a,span,input {
  &.button {
    border-radius: 25px !important;
    font-weight: 600 !important;
    margin: 0 0 1rem !important;
    border: 1px solid transparent;
    &.space {
      margin-top: 20px;
      margin-bottom: 20px;
    }
    &.primary {
      min-width: rem-calc(130);
      border: 2px solid #fff;
      padding: 0.55em 1.5em;
      background: transparent;
      font-size: rem-calc(16);
      @media #{$large-up} {
        font-size: rem-calc(20);
        min-width: inherit;
      }
      &.big {
        font-size: 1.5rem;
        padding: 0.5em 1.25em !important;
        @media #{$small-only} {
          font-size: rem-calc(20);
        }
      }
      &:hover, &:active, &:focus {
        background: transparent !important;
        border-color: $lgray;
        color: $lgray;
      }
      &.green {
        border-color: $green;
        color: $green;
        &:hover, &:active {
          background: $green;
          //color: #fff;
        }
      }
      &.blue {
        border-color: $blue;
        color: $blue;
        &:hover, &:active {
          border-color: $green;
          color: $green;
        }
      }
    }
    &.secondary {
      min-width: rem-calc(130);
      border: 0;
      padding: 0.65em 1.5em;
      font-size: 1.25rem;
      background: #fff;
      color: $blue;
      @media #{$small-only} {
        font-size: rem-calc(20);
        min-width: inherit;
      }
      &:hover {
        background: $green;
        color: #fff;
      }
      &.big {
        font-size: rem-calc(22);
        padding: 0.5em 1.25em !important;
        @media #{$small-only} {
          font-size: rem-calc(20);
        }
        @media #{$medium-up} {
          min-width: 200px;
          &.sm-width {
            min-width: 170px;
          }
        }
      }
      &.green {
        padding: 0.65em 1.5em;
        background: $green;
        color: #fff;
      }
      &.blue {
        padding: 0.65em 1.5em;
        background: $blue;
        color: #fff;
        &:hover, &:active, &:focus {
          background: $green;
        }
      }
    }
    &.minute {
      min-width: rem-calc(130);
      background: $lgray2;
      color: $gray;
      &.up {
        font-size: 1.1rem;
        padding: .55em 1.5em;
      }
      &.dark {
        background: $gray2;
        color: $lgray2;
      }
    }
    &.icon-btn {
      border: 3px solid $lgray2;
      color: $lgray2;
      background: transparent;
      padding: .3em .5em;
      max-width: rem-calc(42);
      min-height: rem-calc(42);
      line-height: 1;
      font-size: 1.4rem;
      text-align: center;
      &.white {
        border-color: #fff;
      }
      &.shift {
        i {
          position: relative;
          left: -2px;
        }
        &.more {
          i {
            position: relative;
            left: -5px;
          }
        }
      }
      &:hover {
        color: $lgray;
      }
    }
  }
}

.social-headwrap {
  position: absolute;
  right: 15px;
  bottom: 0;
  a.button.request-quote {
    padding: 0.65em 1.5em;
    border: 1px solid transparent;
  }
  .social-btns {
    display: inline-block;
    float: right !important;
    li {
      margin-left: 5px;
      &:first-of-type {
        margin-left: 28px;
      }
    }
  }
}