#footer-container {
	max-width: 100%;
	width: 100%;
	margin: 0 auto;
	//margin-top: rem-calc(60);
	background: $gray2;
	color: $lgray2;
	font-weight: 600;
	//line-height: 1.2;
	font-size: rem-calc(14);

	#footer {
		@include grid-row();
		padding: rem-calc(30) 0;
		article {
			@media #{$small-only} {
				margin-bottom: 20px;
			}
		}

		.menu-top-navigation-container ul {
			ul {
				display: none;
			}
		}
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			li {
				display: block;
				a {
					padding: 0;
					line-height: 1.5;
					color: $lgray2;
					&:hover {
						color: #fff;
					}
				}
			}
		}
		form {
			margin-top: 5px;
			[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
				background: $gray;
				color: $lgray2;
				&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
					color: $lgray2;
				}
				&::-moz-placeholder { /* Firefox 19+ */
					color: $lgray2;
				}
				&:-ms-input-placeholder { /* IE 10+ */
					color: $lgray2;
				}
				&:-moz-placeholder { /* Firefox 18- */
					color: $lgray2;
				}
				&:focus {
					color: #fff;
					outline: none;
					box-shadow: none;
				}
			}
		}
	}
}
