/* Navigation breakpoints */

.desktop-menu, .top-bar-left {
  @include show-for(medium);
}

#mobile-menu, .title-bar {
  @include hide-for(medium);
}

/* Mobile menu */

.off-canvas {
  ul#menu-main-menu {
    height: 100vh;
    padding: 1rem;
  }
}

.title-bar-title {
  a {
    font-size: 1rem;
    color: #B9B9B9;
  }
}

/* Tablet and desktop menu */
.top-bar {

  .menu .home a {
    font-size: 1rem;
    color: #B9B9B9;
  }

  .menu a {
    height: 45px;
    line-height: 45px;
    color: #e6e6e6;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: bold;
    font-size: 0.8rem;
    line-height: 1;

    &:hover:not(.button) {
      background-color: #2a2a2a;
    }
  }

  .menu>li:not(.menu-text)>a { padding: 1rem; }
  .menu li:not(:last-child) { border-right: 1px solid #4e4e4e; }

  .dropdown.menu .submenu {
    background-color: #121212;
    color: #e6e6e6;
    border: 0;
  }

  .dropdown.menu .has-submenu.is-down-arrow a { padding-right: 1rem; }
  .dropdown.menu .has-submenu.is-down-arrow>a::after { border: 0; }
}

.is-dropdown-submenu-parent.is-down-arrow > a::after {
  display: none;
}

#site-nav {
  #top-navigation-bar {
    background: #fff;
    margin-bottom: 20px;
    position: relative;
    li {
      border-right: 1px solid transparent;
      position: relative;
      &:after {
        content: "";
        border-right: 1px solid #ccc;
        position: absolute;
        height: 50%;
        top: 25%;
        left: -1px;
      }
      &:first-of-type {
        &:after {
          border-right: 0;
        }
      }
      &:after {
        border-right-color: #ccc;
      }
      & + li {
        &:after {
          border-right-color: #ccc;
        }
      }
      &.link-active {
        &:after {
          border-right-color: transparent;
        }
        & + li {
          &:after {
            border-right-color: transparent;
          }
        }
      }

      &.current-menu-parent {
        & > a {
          background: transparent !important;
          color: $gray !important;
          &:hover {
            color: #fff !important;
            background: $blue !important;
          }
        }
        &.link-active {
          &:before {
            border-color: transparent;
          }
        }
      }
      &.active {
        &:after {
          border-right-color: transparent;
        }
        & + li {
          &:after {
            border-right-color: transparent;
          }
        }
        & > a {
          color: #fff !important;
          background: $blue !important;
        }
      }
      a {
        color: $gray;
        text-transform: uppercase;
        //padding: .5em rem-calc(20);
        padding: rem-calc(22);
        &:hover {
          color: #fff;
          background: $blue;
        }
        @include breakpoint(55em) {

        }
        @media screen and #{breakpoint(medium)} and #{breakpoint(55em down)} {
          // Medium to extra large styles
          padding: 1.375rem 0.675rem;
          font-size: 0.9rem;
        }
      }
      & > ul:first-of-type {

      }
      .is-dropdown-submenu-parent {
        &.is-right-arrow {
          & > a {
            &::after {
              font-family: 'FontAwesome';
              content: '\f107';
              border-radius: 30px;
              border: 1px solid $lgray2;
              width: 21px;
              height: 21px;
              text-align: center;
              line-height: 1.5;
              font-size: rem-calc(14);
              color: $lgray2;
              position: relative;
              top: -6px;
            }
            &:hover {
              &::after {
                color: #fff;
                border-color: #fff;
              }
            }
          }
          & > ul {
            display: block;
          }
        }
      }
      ul.dropdown {
        width: 290px;
        padding-bottom: 25px;
        border: 0;
        z-index: 10;

        li {
          border-right: 0;
          &:before {
            content: '';
            display: block;
            width: 85%;
            margin: 0 auto;
            border-top: 1px solid $lgray2;
            border-right: 0;
            left: 0;
            position: relative;
          }
          &:after {
            border-right: 0;
          }
          a {
            font-size: rem-calc(16);
            font-weight: 600;
            line-height: 1;
            padding: rem-calc(13) rem-calc(20);
            text-transform: none;
          }
          &.link-active:not(.menu-item-has-children) {
            &:before {
              border-top-color: transparent;
            }
            & + li {
              &:before {
                border-top-color: transparent;
              }
            }
          }
        }
        & > li {
          &:first-of-type {
            &:before {
              content: '';
              display: block;
              width: 100%;
              height: 8px;
              border-top: 0;

              /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cccccc+0,000000+100&0.65+0,0+100 */
              background: -moz-linear-gradient(top,  rgba(204,204,204,0.2) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
              background: -webkit-linear-gradient(top,  rgba(204,204,204,0.2) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
              background: linear-gradient(to bottom,  rgba(204,204,204,0.2) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
              filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6eeeeee', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

            }
            &:after {
              //border-top: 0;
            }
            a {
              margin-top: 10px;
            }
          }
          &:last-of-type {
            &:after {
              display: none;
            }
          }
          &.active {
            &:before {
              border-top-color: transparent;
            }
            & + li {
              &:before {
                border-top-color: transparent;
              }
            }
          }
        }
        &:not(.first-sub) {
          position: relative;
          left: 0px;
          & > li {
            &:first-of-type {
              a {
                margin-top: 0;
              }
            }
            &:before {
              display: none;
            }
            &:after {
              border: 0;
            }
            a {
              padding: rem-calc(7) rem-calc(20) rem-calc(7) rem-calc(55);
            }
          }
        }
      }
    }
    & > li {
      &.active {
        &:after {
          border-right-color: transparent;
        }
        & + li {
          &:after {
            border-right-color: transparent;
          }
        }
        & > a {
          color: #fff;
          background: $blue;
        }
      }
    }
    form.search-container {
      width: 20%;
      float: right;
      position: absolute;
      top: 11px;
      right: 15px;
      margin-top: 0;

      @media screen and #{breakpoint(medium)} and #{breakpoint(43em down)} {
        display: none;
      }

      $tl: 0.6s;

      .search-box {
        transition: width $tl, border-radius $tl, background $tl;
        width: 40px;height: 40px;
        border-radius: 20px;border: none;
        cursor: pointer;
        background: transparent;
        float: right;
        border: 3px solid $lgray2;
        box-shadow: none;
        font-size: rem-calc(16);
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: $lgray3;
        }
        &::-moz-placeholder { /* Firefox 19+ */
          color: $lgray3;
        }
        &:-ms-input-placeholder { /* IE 10+ */
          color: $lgray3;
        }
        &:-moz-placeholder { /* Firefox 18- */
          color: $lgray3;
        }
        &.pre-icon {
          padding-left: 60px;
        }
        & + label .search-icon {    color: black    }
        &:hover {
          color: $gray;
          background: transparent;
          & + label .search-icon {    color: white    }
        }
        &:focus {
          transition: width $tl cubic-bezier(0,1.22,.66,1.39), border-radius $tl, background $tl;
          border: none;
          outline: none;
          padding-left: 15px;
          cursor: text;
          width: 300px;
          border-radius: auto;
          background: rgb(235, 235, 235);
          color: $gray;
          font-weight: 600;
          & + label .search-icon {    color: black;    }
        }
        &:not(:focus) {    text-indent:-5000px;    } // for more-graceful falling back (:not browsers likely support indent)
      }

      #search-submit {
        position: relative;left: -5000px;
      }

      .search-icon {
        position: relative;
        left: -30px;
        color: white;
        cursor: pointer;
      }

      label {
        position: absolute;
        right: 13px;
        top: 7px;
        color: $lgray2;
        transition: $tl;
        &:hover {
          color: $lgray3;
        }
        i {
          position: relative;
          left: 3px;
          font-size: 1.25rem;
          line-height: 1.25;
        }
      }
    }
    #menu-top-navigation {
      float: left;
      position: relative;
    }
  }

  .nav-wrap {
    padding-top: 20px;
    padding-bottom: 30px;
    position: relative;
    .top-links {
      a {
        color: $lgray2;
        font-size: rem-calc(14);
        padding: 3px;
        &:after {
          content: "|";
          display: inline;
          padding-left: 8px;
        }
        &:last-of-type {
          margin-right: 0;
          padding-right: 0;
          &:after {
            content: none;
          }
        }
      }
    }
  }
  #page-title-wrap {
    .page-title-banner {
      margin-bottom: 20px;
      position: relative;
      & > div:first-of-type {
        @media screen and #{breakpoint(medium up)} {
          height: 200px;
        }
        @media screen and (max-width: 48em) {
          height: 170px;
        }
        @media screen and (max-width: 40em) {
          height: 120px;
        }
        @media screen and (max-width: 30em) {
          height: 100px;
        }
      }
      &.dot {
        & > * {
          position: relative;
          z-index: 4;
        }
        & > div:first-of-type {
          position: relative;
          z-index: 1;
          background-size: cover !important;
          background-position: 0 35% !important;
          &:before {
            background: transparentize($blue, 0.25);
            content: '';
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            z-index: 2;
          }
          &:after {
            background: url(../images/dot-pattern.png);
            content: '';
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            z-index: 2;
          }
        }
      }
      .page-btitle {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        font-weight: 600;
        color: #fff !important;
        padding-top: 6%;
        @media screen and (min-width: 40em) and (max-width: 48em) {
          font-size: rem-calc(40);
        }
      }
      @media #{$small-only} {
        h1,img {
          min-height: 80px !important;
        }
      }
    }
  }
  #three-service-block {
    padding-top: 0;
    .service-tile {
      margin-top: 0;
    }
  }
}

.menu {
  //display: inline-block;
}

.top-bar {
  &-right {
    position: absolute;
    z-index: 11;
  }
  ul {
    background: $gray;
  }
  .menu {
    li:not(:last-child) {
      border-right: 0;
    }
    a {
      font-size: rem-calc(14);
    }
  }
}

.title-bar {
  background: $gray2;
  padding: .75em 0.5em;
  .menu-icon {
    width: 25px;
  }
}
.menu-icon::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background: $gray;
  top: 0;
  left: 0;
  box-shadow: 0 6px 0 $gray, 0 12px 0 $gray;
}
#mobile-menu {
  li {
    &.is-accordion-submenu-parent {
      & > a {
        &::after {
          font-family: 'FontAwesome';
          content: '\f107';
          border-radius: 30px;
          border: 1px solid $lgray2;
          width: 21px;
          height: 21px;
          text-align: center;
          line-height: 1.5;
          font-size: rem-calc(14);
          color: $lgray2;
          margin-top: -11px;
        }
      }
    }
  }
}