@media all {
  body {
    color: $gray;
  }
  h1,h2,h3,h4,h5,h6 {
    color: $gray !important;
  }
  h5 {
    font-weight: 600 !important;
  }
}
a {
  color: $blue1;
  text-decoration: none;
}
.bg-light {
  background: $lgray;
}
.bg-gray {
  background: $gray;
}
.bg-blue {
  background: $blue;
}
.text-white {
  color: #fff !important;
}
.text-light {
  color: $lgray2 !important;
}
.show-for-mid {
  display: none !important;
}
.hide-for-mid {
  display: inherit;
}
.arrow-link {
  position: absolute;
  right: 40px;
  top: 0;
  line-height: 14;
}
.pagination {
  text-align: right;
  li {
    &:not(.round-angle-parent) {
      vertical-align: super;
      position: relative;
      //top: -5px;
      &.current {
        background: transparent;
        padding: 0;
        a {
          border-color: $lgray3;
          color: $lgray3;
        }
      }
    }
    a,button {
      border: 1px solid $blue;
      border-radius: 30px;
      color: $blue;
      text-align: center;
      &:hover {
        background: transparent;
        i {
          //background: $lgray;
        }
      }
    }
  }
}
.round-angle {
  width: 50px;
  height: 50px;
  border-radius: 60px !important;
  border: 1px solid $blue;
  font-size: rem-calc(36) !important;
  text-align: center;
  font-weight: 200;
  display: inline-block;
  line-height: 1.4;
  &-parent {
    a {
      line-height: 1.2;
      &.prev {
        i {
          position: relative;
          left: -2px;
        }
      }
    }
  }
  i {
    position: relative;
    left: 2px;
  }
}
@media screen and (min-width: 55em) {
  .show-for-mid {
    display: inherit !important;
  }
  .hide-for-mid {
    display: none;
  }
}
.content-case {
  padding-top: 60px;
  padding-bottom: 60px;
  @media #{$small-only} {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.inline-list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0.94444rem;
  margin-left: -1.22222rem;
  margin-right: 0;
  overflow: hidden;
  padding: 0;
  & > li {
    display: block;
    float: left;
    list-style: none;
    margin-left: 1.22222rem;
    * {
      display: block;
    }
  }
}
.left {
  float: left;
}
.right {
  float: right;
}
body.search {
  #page-title-wrap {
    display: none;
  }
}
.three-slider {
  margin-top: -100px;
  margin-bottom: 40px;
  z-index: 5;
  @media #{$small-only} {
    margin-top: -60px;
  }
  .slick-slide {
    text-align: center;
    img {
      margin: 0 auto;
      border-radius: 200px;
      overflow: hidden;
      border: 20px solid $gray;
      @media #{$small-only} {
        width: 40%;
        border-width: 15px;
      }
    }
    .slide-title {
      display: block;
      color: $lgray2;
      font-size: rem-calc(20);
      font-weight: 600;
      line-height: 1.25;
      -webkit-transition: .2s;
      -moz-transition: .2s;
      -ms-transition: .2s;
      -o-transition: .2s;
      transition: .2s;
      @media #{$large-up} {
        padding: 0 25%;
      }
    }
    a:hover,a:active {
      .slide-title {
        color: #fff;
      }
    }
  }
}
#three-service-block {
  &.head {
    padding-top: 0;
    form.search {
      margin-top: 25px;
      padding-bottom: 30px;
      input[type=text] {
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: $lgray;
        }
        &::-moz-placeholder { /* Firefox 19+ */
          color: $lgray;
        }
        &:-ms-input-placeholder { /* IE 10+ */
          color: $lgray;
        }
        &:-moz-placeholder { /* Firefox 18- */
          color: $lgray;
        }
      }
    }
  }
  .row[data-equalizer] {
    & > div {
      &:last-of-type {
        float: left;
        @media #{$small-only} {
          float: none;
        }
      }
    }
  }
}

.h1 {
  font-size: rem-calc(48);
  @media #{$medium-only} {
    font-size: rem-calc(36);
  }
  @media #{$small-only} {
    font-size: rem-calc(30);
  }
}
.h2 {
  font-size: rem-calc(36);
  @media #{$small-only} {
    font-size: rem-calc(28);
  }
}
.h3 {
  font-size: rem-calc(26);
  @media #{$small-only} {
    font-size: rem-calc(20);
  }
}
.h4 {
  font-size: rem-calc(22);
  @media #{$small-only} {
    font-size: rem-calc(18);
  }
}
#four-service-block {
  @media #{$small-only} {
    padding-bottom: 0;
    & > div {
      & > div:nth-child(odd) {
        background: #ddd;
      }
      & > div:first-of-type {
        background: transparent;
      }
    }
  }
}
.service-tile {
  padding-top: 30px;
  text-align: center;
  color: $gray;
  @media #{$small-only} {
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .service-icon {
    width: 70px;
    height: 70px;
    line-height: 64px;
    font-size: rem-calc(34);
    border-radius: 70px;
    display: inline-block;
    margin: 0 auto;
    border: 2px solid $gray;
  }
  .s-title {
    margin-top: 20px;
    margin-bottom: 15px;
  }
  .s-desc {
    font-size: rem-calc(14);
    //min-height: 150px;
    margin-bottom: 20px;
    @media #{$small-only} {
      height: inherit !important;
      padding-left: 13%;
      padding-right: 13%;
    }
  }
}
.email-bar {
  background: $blue;
  padding: 40px 0;
  .icon-field {
    position: relative;
  }
  input[type=text] {
    background: $blue2;
    //padding: 13px 20px 4px;
    height: 50px;
    line-height: 50px;
    border-radius: 40px;
    border: 0;
    color: #fff;
    font-size: rem-calc(22);
    margin-bottom: 0;
    box-shadow: none;
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #fff;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: #fff;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: #fff;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: #fff;
    }
    &.pre-icon {
      padding-left: 60px;
    }
    & + span.icon-btn {
      position: absolute;
      top: 4px;
      left: 5px;
    }
    @media #{$medium-only} {
      font-size: rem-calc(18);
    }
    @media #{$small-only} {
      font-size: rem-calc(16);
    }
  }
  .submit {
    position: relative;
    left: -10px;
    height: 50px;
    line-height: 28px;
    margin-bottom: 0 !important;
    @media #{$small-only} {
      margin-top: 20px !important;
      left: 0;
    }
  }
  .h2 {
    padding-left: 20%;
    padding-right: 20%;
  }
}
.dark-cta-block {
  z-index: 5;
  border-top: 100px solid #eee;
  margin-bottom: -100px;
  & > .row {
    position: relative;
    top: -156px;
    @media screen and (max-width: 48em) {
      top: -135px;
    }
    @media #{$small-only} {
      top: -100px;
    }
  }
  &.overlap {
    border-top: 0;
    & > .row {
      position: relative;
      top: -100px;
      z-index: 3;
      @media #{$medium-up} {
        top: -120px;
      }
      @media #{$small-only} {
        top: -80px;
      }
      @media screen and (max-width: 30em) {
        top: -70px;
      }
    }
  }
  h3 {
    margin-top: 45px;
    @media #{$medium-up} {
      margin-top: 90px;
    }
  }
  .cta-tile {
    text-align: center;
    .cta-icon {
      margin: 0 auto;
      border-radius: 200px;
      overflow: hidden;
      border: 20px solid $gray;
      background: $lgray;
      width: 196px;
      height: 196px;
      display: inline-block;
      line-height: 156px;
      font-size: rem-calc(40);
      position: relative;
      color: $blue;
      i {
        &:after {
          content: '';
          display: inline-block;
          width: 60%;
          height: 60%;
          border-radius: 100px;
          position: absolute;
          border: 2px solid $blue;
          left: 0;
          right: 0;
          margin: 0 auto;
          top: 20%;
        }
      }
      img {
        &[src*="get-a-quote-_"] {
          position: relative;
          top: -10px;
          height: 110%;
        }
      }
      @media screen and (max-width: 48em) {
        margin: 0 auto;
        border-radius: 200px;
        overflow: hidden;
        border: 20px solid $gray;
        background: $lgray;
        width: 150px;
        height: 150px;
        display: inline-block;
        line-height: 110px;
        font-size: rem-calc(40);
        position: relative;
        color: $blue;
      }
    }
    .slide-title {
      display: block;
      color: $lgray;
      font-size: rem-calc(20);
      font-weight: 600;
      line-height: 1.25;
      -webkit-transition: .2s;
      -moz-transition: .2s;
      -ms-transition: .2s;
      -o-transition: .2s;
      transition: .2s;
      br {
        @media #{$small-only} {
          display: none;
        }
      }
      @media #{$large-up} {
        padding: 0 25%;
        &.wide {
          padding: 0 10%;
        }
      }
    }
    a:hover,a:active {
      .slide-title {
        color: #fff;
      }
    }
  }
}
form.search {
  margin-top: 35px;
  @include breakpoint(small only) {
    margin-top: 0px !important;
  }
  input[type=text] {
    background: $gray2;
    //padding: 13px 20px 4px;
    height: 50px;
    line-height: 50px;
    border-radius: 40px;
    border: 0;
    color: #fff;
    font-size: rem-calc(22);
    margin-bottom: 0;
    box-shadow: none;
    position: relative;
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #fff;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: #fff;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: #fff;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: #fff;
    }
    &.pre-icon {
      padding-left: 60px;
    }
    & + span.icon-btn {
      position: absolute;
      top: 4px;
      left: 5px;
      border-color: $blue;
      color: $blue;
      font-size: rem-calc(20);
    }
    @include breakpoint(small only) {
      font-size: rem-calc(17);
    }
  }
  .submit {
    position: relative;
    left: -10px;
    height: 50px;
    line-height: 28px;
    margin-bottom: 0;
  }
  .icon-field {
    position: relative;
  }

}

.pad {
  padding-top: 20px;
  padding-bottom: 20px;
  &-b {
    padding-bottom: 20px;
  }
  &-t {
    padding-top: 20px;
  }
}
form {
  margin-top: 5px;
  [type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
    background: #fff;
    border: 0;
    color: $gray;
    margin-bottom: 4px;
    padding: 3px 10px;
    height: initial;
    text-shadow: none;
    font-size: rem-calc(14);
    box-shadow: none;
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $lgray2;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: $lgray2;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: $lgray2;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: $lgray2;
    }
    &:focus {
      color: #fff;
      outline: none;
      box-shadow: none;
    }
    &.s,&[name="s"] {
      &:focus {
        color: $gray;
        border: 0;
      }
    }
  }
  &.wpcf7-form {
    [type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
      color: $gray;
      font-weight: 600;
      box-shadow: none;
      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        font-weight: 600;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        font-weight: 600;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        font-weight: 600;
      }
      &:-moz-placeholder { /* Firefox 18- */
        font-weight: 600;
      }
      &:focus {
        border: 0;
      }
    }
  }
  textarea {
    max-height: 100px;
  }
  &.fullform {
    input.button, span.button, a.button {
      margin-top: 5px !important;
      font-size: rem-calc(16);
      min-width: 150px;
    }
  }
}
.slick-prev, .slick-next {
  top: 40% !important;
  width: 42px !important;
  height: 42px !important;
  @media #{$small-only} {
    top: 30% !important;
  }
  &:before {
    font-family: 'FontAwesome' !important;
    font-size: rem-calc(30) !important;
    background: $gray;
    border: 2px solid $lgray2;
    display: inline-block;
    border-radius: 30px;
    width: 42px;
    height: 42px;
    line-height: 1.2 !important;
  }
}
.slick-prev {
  @media #{$small-only} {
    left: 50px;
  }
}
.slick-next {
  @media #{$small-only} {
    right: 50px;
  }
}
.slick-prev:before {
  content: '\f104' !important;
  text-indent: -3px;
}
.slick-next:before {
  content: '\f105' !important;
  text-indent: 3px;
}

ul.multi-col {
  &-3 {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    margin-left: 0;
    @media #{$small-only} {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
    }
    li {
      list-style: none;
      line-height: 1.9;
    }
  }
}
.timeline {
  position: relative;
  ul {
    padding: 20px 0;
    margin-bottom: 0;
    list-style-position: outside;
    list-style: none;

    &:before {
      content: '';
      border-left: 1px solid $blue;
      height: 94%;
      top: 3%;
      position: absolute;
      left: 18px;
      @media #{$small-only} {
        left: 13px;
        height: 95%;
      }
    }
    li {
      //line-height: 2.5;
      padding: 6px 0 10px;
      position: relative;
      display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
      display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: -webkit-flex;     /* NEW - Chrome */
      display: flex;
      &:before,&:after {
        content: '';
        display: inline-block;
        width: 8px;
        height: 8px;
        background-color: $blue;
        border-radius: 8px;
        position: relative;
        left: -20px;
        top: 9px;
        @media #{$small-only}{
          top: 7px;
        }
      }
      &:after {
        position: absolute;
        left: -28px;
        top: 7px;
        background-color: transparent;
        border-radius: 60px;
        border: 2px solid $blue;
        width: 24px;
        height: 24px;
        @media #{$small-only}{
          top: 5px;
        }
      }
    }
  }
  .joint {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: $blue;
    border-radius: 6px;
  }
  &-icon {
    ul {
      list-style: none;
      margin-top: 50px;
      li {
        i.fa {
          display: inline-block;
          width: 72px;
          height: 72px;
          border-radius: 75px;
          border: 3px solid $gray;
          font-size: rem-calc(34);
          margin-bottom: 15px;
          line-height: 2;
        }
        span {
          display: block;
          margin-bottom: 40px;
          font-size: rem-calc(22);
          line-height: 1.25;
          @media screen and #{breakpoint(medium down)} {
            font-size: rem-calc(18);
          }
        }
      }
    }
  }
}
ul.accordion {
  background-color: transparent;
  border: 0;
  & > li {
    &.accordion-item {
      &:not(.is-active) {
        margin-bottom: 12px;
      }
    }
    a.accordion-title {
      color: #fff;
      background: $lgray3;
      font-size: rem-calc(24);
      font-weight: 600;
      &:before {
        display: none;
      }
    }
    &.is-active {
      a.accordion-title {
        background: $blue;
      }
    }
    .accordion-content {
      background-color: transparent;
      border-bottom: 0;
      a {
        &.active {
          font-weight: 700;
        }
      }
    }
  }
  &.side-accordion-menu {
    & > li {
      &.accordion-item {
        &:not(.is-active) {
          margin-bottom: 5px;
        }
      }
      a.accordion-title {
        padding: .5rem 1rem;
        font-size: rem-calc(14);
        font-weight: 700;
        background: $lgray2;
        color: $gray1;
        border-bottom: 0;
        &:after {
          font-family: 'FontAwesome';
          content: '\f107';
          font-weight: 300;
          font-size: rem-calc(28);
          position: absolute;
          top: 2px;
          right: 15px;
          color: #fff;
        }
      }
      &:not(.is-active) {
        background: $lgray2;
      }
      &.is-active {
        a.accordion-title {
          background: $blue;
          color: #fff;
          &:after {
            font-family: 'FontAwesome';
            content: '\f106';
          }
        }
      }
      .accordion-content {
        background: #fff;
        margin-bottom: 5px;
        ul {
          list-style: none;
          margin: 0;
          li {
            a {
              color: $gray1;
              font-size: rem-calc(14);
              line-height: 2.25;
              font-weight: 300;
            }
          }
        }
      }
    }
  }
  &.faq {
    & > li {
      &.accordion-item {
        &:not(.is-active) {
          margin-bottom: 5px;
        }
      }
      a.accordion-title {
        padding: 0.8rem 3rem 1rem 0;
        font-size: rem-calc(17);
        font-weight: 400;
        background: transparent;
        color: #6b8ab9;
        border-bottom: 1px solid $lgray3;
        &:after {
          font-family: 'FontAwesome';
          content: '\f107';
          font-weight: 200;
          font-size: rem-calc(22);
          position: absolute;
          top: 11px;
          right: 15px;
          color: $blue;
          //background: $blue;
          border-radius: 20px;
          border: 1px solid $blue;
          width: 20px;
          height: 20px;
          line-height: .9;
          text-align: center;
        }
      }
      &:not(.is-active) {
        background: transparent;
      }
      &.is-active {
        a.accordion-title {
          background: transparent;
          font-weight: 700;
          border-bottom: 0;
          &:after {
            font-family: 'FontAwesome';
            content: '\f106';
            line-height: .8;
            background: $blue;
            color: #fff;
          }
        }
      }
      .accordion-content {
        background: transparent;
        margin-bottom: 5px;
        padding-top: 0;
        padding-left: 0;
        border-bottom: 1px solid $lgray3;
        ul {
          list-style: none;
          margin: 0;
          li {
            a {
              color: $gray1;
              font-size: rem-calc(14);
              line-height: 2.25;
              font-weight: 300;
            }
          }
        }
      }
    }
  }
}
.contact-sidebar,.faq-sidebar {
  background: #fff;
  max-width: rem-calc(260);
  .contact-bar {
    background: $lgray2;
    font-size: rem-calc(14);
    font-weight: 700;
    padding: 4px 20px;
    color: $gray1;
  }
  .side-content {
    padding: 15px 20px;
    font-size: rem-calc(14);
    color: $gray1;
    ul {
      list-style: none;
      margin: 0;
      li {
        a {
          color: $gray1;
          font-size: rem-calc(14);
          line-height: 2.25;
          font-weight: 300;
          &.active {
            font-weight: 700;
          }
        }
      }
    }
  }
  @media screen and (max-width: 40em) {
    max-width: inherit;
  }
}
.faq-sidebar {
  .side-content {
    background: #fff;
  }
}
#faq-content {
  padding-top: 75px;
}
.page-template-page-contact {
  background: $lgray;
}
.close-sidebar {
  @media screen and (min-width: 60em) {
    padding-left: 10px;
  }
}
.select2-container {
  margin-bottom: 4px;
  float: left;
  @include breakpoint(small) {
    max-width: 100%;
    width: 100% !important;
  }
  @include breakpoint(medium) {
    max-width: 48%;
  }
}
.select2-container--default {
  .select2-selection--single {
    outline: none;
    border: 0;
    border-radius: 0;
    background: #fefefe;
    .select2-selection__rendered {
      font-size: rem-calc(14);
      font-weight: 600;
    }
    .select2-selection__arrow {
      b[role="presentation"] {
        border-width: 0;
        margin-top: -4px;
        width: inherit;
        height: inherit;
        top: 0;
        left: 0;
        &:before {
          content: '\f107';
          font-family: 'FontAwesome';
          color: $blue;
          border: 1px solid $blue;
          display: inline-block;
          line-height: 1;
          text-align: center;
          width: 20px;
          height: 20px;
          border-radius: 25px;
          font-weight: 100;
        }
      }
    }
  }
  &.select2-container--open {
    .select2-selection--single {
      .select2-selection__arrow {
        b[role="presentation"] {
          &:before {
            content: '\f106';
          }
        }
      }
    }
  }
  .select2-results__options {
    .select2-results__option {
      font-size: rem-calc(14);
      &--highlighted[aria-selected] {
        background-color: $blue;
      }
    }
  }
}
.select2-dropdown {
  border-color: $lgray2;
}

// WooCommerce

.woocommerce,.woocommerce-page {
  .shop-page-title {
    margin-top: 55px;
  }
  ul.products {
    li.product {
      width: 100%;
      margin-bottom: 20px;
      background: #fff;
      position: relative;
      .onsale {
        display: none;
      }
      img {
        max-width: 13%;
        max-height: 100px;
        width: initial;
        float: left;
        margin-right: 5%;
        padding-top: 5px;
        margin-bottom: 0;
        @media #{$small-only} {
          max-width: 20%;
        }
      }
      .sku {
        font-weight: 700;
        color: $gray;
        display: inline-block;
        padding-top: 20px;
        line-height: 1.2;
      }
      h3 {
        padding: 0;
        font-size: rem-calc(20);
        line-height: 1;
      }
      .price {
        color: $gray;
        font-size: rem-calc(23);
        font-weight: 700;
        line-height: 1.3;
        padding-bottom: 10px;
        del {
          display: none;
        }
        ins {
          text-decoration: initial;
        }
      }
      .woocommerce {
        position: absolute;
        right: 15px;
        top: 25%;
        @media #{$small-only} {
          top: 30%;
        }
        .addquotelistlink {
          padding-top: 15px;
          display: inline-block;
        }
        .button {
          position: relative;
          border-radius: 30px;
          width: 40px;
          height: 40px;
          padding: 0;
          border: 2px solid $blue;
          background: transparent;
          color: $blue;
          margin-top: 0;
          font-size: 0;
          top: -5px;
          &:before {
            content: '+';
            font-size: rem-calc(45);
            font-weight: 300;
            position: relative;
            top: -9px;
          }
        }
      }
    }
  }
}
.wpcf7-form {
  @include breakpoint(small) {
    width: 100%;
  }
  @include breakpoint(medium) {
    width: 90%;
  }
  @include breakpoint(large) {
    width: 75%;
  }
  label {
    font-weight: 600;
    color: $gray;
    margin-top: 20px;
  }
  span.wpcf7-not-valid-tip {
    font-size: rem-calc(14);
  }
}
&.form-full-wrap {
  .wpcf7-form {
    @include breakpoint(small) {
      width: 100%;
      margin-top: 30px;
    }
  }
}
.field-block {
  @include grid-row();
  margin-bottom: 16px;
  br {
    display: none;
  }
  .wpcf7-form-control-wrap {
    display: block;
    //overflow: auto;
    &:after {
      content: ' ';
      display: table;
      clear: both;
    }
    &.two-col {
      @include breakpoint(small) {
        @include grid-column(12);
        padding: 0 !important;
      }
      @include breakpoint(medium) {
        padding-left: .6em !important;
        padding-right: .6em !important;
        @include grid-column(6);
          &:first-child {
            padding-left: 0 !important;
            //padding-right: .7em;
          }
        & + .two-col,& + br + .two-col {
            //padding-left: .7em;
            padding-right: 0 !important;
          }
      }
    }
    &:not(.two-col) {
      input {
        @include breakpoint(small) {
          //@include grid-column(12);
        }
        @include breakpoint(medium) {
          width: 48%;
        }
      }
    }
  }
}
.article-case.columns {
  @include breakpoint(large) {
    padding-left: 0;
  }
}
.submenu-title {
  padding-left: 15px;
}
.blogpost-entry {
  margin-bottom: 20px;
  .post-img,.post-copy-wrap {
    min-height: 175px;
  }
  .post-copy-wrap {
    background-color: #fff;
  }
  .post-copy {
    padding: 20px;
    position: relative;
    h6 {
      font-size: rem-calc(18);
    }
    &,p {
      font-size: rem-calc(14);
      color: $gray1;
    }
    .entry-content {
      p {
        margin-bottom: 0;
        @include breakpoint(medium) {
          padding-right: 20%;
          line-height: 1.45;
        }
      }
    }
  }
}
.woocommerce {
  a.remove{
    color: $gray !important;
    line-height: .75;
    &:hover {
      color: #fff !important;
      background: $gray !important;
    }
  }
  #content {
    table.cart {
      tbody {
        tr {
          td {
            &.product-thumbnail {
              img {
                height: 70px;
                width: inherit;
              }
            }
          }
        }
      }
    }
  }
  form.woocommerce-ordering {
    .select2-container {
      min-width: 160px;
    }
    .select2-container--default .select2-selection--single {
      background: transparent;
      border-radius: 20px;
      border: 2px solid $blue3;
      .select2-selection__rendered {
        color: $blue3;
        padding-left: 10px;
      }
      .select2-selection__arrow {
        b[role="presentation"]:before {
          border: 0;
          font-size: rem-calc(28);
          color: $blue3;
          line-height: 1.25;
        }
      }
    }
  }
}
table {
  tbody {
    border: 0 !important;
    tr {
      &:nth-child(even) {
        background: #fff !important;
      }
    }
  }
}